<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="conConexion" providerName="SQLServer" connectionString="Data Source=HAYLLIPC\HAYLLI; uid=sa; pwd=123; Initial Catalog=dboHaylli"/>
    </connectionStrings>
    <appSettings>
      <add key="sRutaLog" value="C:\Satelites\logs"/>
    </appSettings>
  
</configuration>